# Environment variables for the Form Builder project
NEXT_PUBLIC_GH='https://github.com/github_username'
NEXT_PUBLIC_URL='https://yourwebsite.com'
NEXT_PUBLIC_AUTHOR='John Doe'
NEXT_PUBLIC_ICO='https://avatars.githubusercontent.com/u/your_github_id'
NEXT_PUBLIC_MAIL='you@example.com'
NEXT_PUBLIC_REPO='https://github.com/<github_username>/formbuilder'
GOOGLE_SITE_VERIFICATION = 'your_google_site_verification_code'

# Sentry configuration
NEXT_PUBLIC_SENTRY_DSN='https://yourPublicKey@o123456.ingest.sentry.io/1234567'
SENTRY_AUTH_TOKEN='sntrys_your_auth_token'

# Before running the project, make sure to set the NEXT_DEV_HOST variable in your .env.local file to your local IP address. This is necessary for the development server to be accessible from other devices on the same network.
# To find your local IP address, you can run the following command in your terminal:
# For Windows: ipconfig
# For macOS/Linux: ifconfig
# Look for the IPv4 address under your active network connection. It will typically look like 192.168.x.x or 10.x.x.x. Use that address for the NEXT_DEV_HOST variable.
# Example:
NEXT_DEV_HOST='192.168.0.50'
